
<div>
    <div class="container-fluid">

        <nav class="navbar navbar-default navbar-xs" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href>
                    <b>Memedex</b>
                </a>
                <!--<a class="navbar-brand" href >-->
                    <!--<span class="glyphicon glyphicon-triangle-left"><b>Go Back</b></span>-->
                <!--</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/memelist">
                            <i class="glyphicon glyphicon-th-list"></i>
                            MemeLists
                        </a>
                    </li>
                    <li>
                        <a ng-href="#/user/{{model.loggedInUser._id}}">
                            <i class="glyphicon glyphicon-user"></i>
                            Me
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Find a meme, by its text.</h1>
                    <p>
                        <input type="text"
                               placeholder="Search"
                               class="form-control">
                    </p>
                    <div class="text-center">
                        <p><a class="btn btn-primary btn-lg"
                              href
                              role="button">Search</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add meme to list</h4>
                    </div>
                    <div class="modal-body">
                        <div class="list-group">
                            <div class="padded-list-item" ng-repeat="(key, value) in model.listitems">
                                <button type="button"
                                        class="list-group-item">
                                    {{value.value}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="meme-search-results">
            <ul class="event-list">
                    <li ng-repeat="meme in model.allMemes">
                        <img alt="My 24th Birthday!" src="{{meme.memeThumbnail}}" />
                        <div class="info">
                            <h2 class="title">{{meme.memeTitle}}</h2>
                            <p class="desc">{{meme.memeText}}</p>
                            <div>

                            </div>
                            <ul>
                                <li style="width:50%;" data-toggle="modal"
                                    data-target="#myModal"><span
                                        class="glyphicon glyphicon-plus"></span></li>
                                <li style="width:50%;">
                                    <a ng-href="#/meme/{{meme._id}}">
                                        <span class="fa fa-info-circle"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
            </ul>
        </div>
    </div>
</div>
