<div>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-xs" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href onclick="window.history.back()">
                    <b>◀ Memedex</b>
                </a>
                <!--<a class="navbar-brand" href >-->
                <!--<span class="glyphicon glyphicon-triangle-left"><b>Go Back</b></span>-->
                <!--</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/">
                            <i class="glyphicon glyphicon-home"></i>
                            Memes
                        </a>
                    </li>
                    <li>
                        <a href="#/user">
                            <i class="glyphicon glyphicon-user"></i>
                            Me
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        <h1>Im sorry but you have to click on the login button twice, i have no
        idea why i spent hours trying to fix it.</h1>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <label for="input-username">Username</label>
                <input id="input-username" class="form-control"
                       ng-model="model.user.username">
                <label for="input-password">password</label>
                <input id="input-password" type="password" class="form-control"
                       ng-model="model.user.password">
                <button class="btn btn-primary padded-btn btn-block" ng-click="model.login()">Login
                </button>
                <a ng-href="#/register" class="btn btn-success padded-btn btn-block">
                    Register
                </a>
            </div>
        </div>
    </div>
</div>
