
<div>
    <div class="container-fluid">

        <nav class="navbar navbar-default navbar-xs" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href onclick="window.history.back()">
                    <b>◀ Memedex</b>
                </a>
                <!--<a class="navbar-brand" href >-->
                    <!--<span class="glyphicon glyphicon-triangle-left"><b>Go Back</b></span>-->
                <!--</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/">
                            <i class="glyphicon glyphicon-home"></i>
                            Memes
                        </a>
                    </li>
                    <li>
                        <a href="#/user">
                            <i class="glyphicon glyphicon-user"></i>
                            Me
                        </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1>Find a meme, by its text.</h1>
                    <p>
                        <input type="text"
                               placeholder="Search"
                               class="form-control">
                    </p>
                    <div class="text-center">
                        <p><a class="btn btn-primary btn-lg"
                              href
                              role="button">Search</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="meme-search-results">
            <ul class="event-list">
                <li ng-repeat="memeList in model.allMemeLists">
                    <div class="info">
                        <h2 class="title">{{memeList.listTitle}}</h2>
                        <p class="desc">{{memeList.containedMemes.length}} memes</p>
                        <ul>
                            <li style="width:50%;"><span class="fa fa-user"></span></li>
                            <li style="width:50%;"><span class="fa fa-pencil"></span></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
